name: Minimum set of checks

on:
  pull_request:
  push:
    tags:
      - '**[0-9]+.[0-9]+.[0-9]+*'

jobs:
  # Check Formatting and Lint
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Common setup
        uses: ./.github/actions/common
        with:
          toolchain: stable

      - name: Setup Python3
        uses: actions/setup-python@v3

      - name: Install Clippy and Rustfmt
        run: |
          rustup component add clippy
          rustup component add rustfmt

      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.1

  # Build on every toolchain
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        rust: [stable, beta, nightly]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Common setup
        uses: ./.github/actions/common
        with:
          toolchain: ${{ matrix.rust }}

      - name: Build debug
        run: |
          RUSTFLAGS="-D warnings" cargo build --verbose

      - name: Build release
        run: |
          RUSTFLAGS="-D warnings" cargo build --release

  # Test on every platform
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Common setup
        uses: ./.github/actions/common
        with:
          toolchain: stable

      - name: Run tests
        run: cargo test --verbose -- --show-output

  # Gather coverage
  coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Common setup
        uses: ./.github/actions/common
        with:
          toolchain: stable

      - name: Install Tarpaulin
        run: cargo install cargo-tarpaulin

      - name: Run coverage
        run: cargo tarpaulin --out Xml --fail-under 90

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: cobertura.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true

  # Audit
  audit:
    # Disabled since some dependencies are having transitively vulnerable dependencies
    if: false
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Common setup
        uses: ./.github/actions/common
        with:
          toolchain: stable

      - name: Install Audit Tool
        run: cargo install cargo-audit

      - name: Run Audit
        run: cargo audit

  # Generate documentation
  doc:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Common setup
        uses: ./.github/actions/common
        with:
          toolchain: stable

      - name: Check Documentation
        run: cargo doc --no-deps --document-private-items
