name: crates.io publishing

on:
  workflow_call:

jobs:
  custom-release-checks:
    uses: ./.github/workflows/release-checks.yml
    secrets: inherit

  deploy:
    needs:
      - custom-release-checks
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write # Required for Trusted Publishing OIDC
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Common setup
        uses: ./.github/actions/common
        with:
          toolchain: stable

      - uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
